*{
    text-align: center;
    background-color: rgb(45, 85, 98)
}

button{
    cursor: pointer;
    padding: 5px;
    width: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

input {
    border-radius: 5px;
    padding: 4px;
}