@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #6e0b87;
    color: #f9f9f9;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


.cadastro h2 {
    color: #f9f9f9;
    font-size: 24px;
    margin-bottom: 20px;
}
.cadastro {
    background-color: #5d0b71;
    color: #6e0b87;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
}

.cadastro {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.cadastro input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.cadastro button{
    background-color: #480a57;
    color: #f9f9f9;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cadastro button:hover {
    background-color: #8410a1;
    color: #f9f9f9;
}

.listaUsuarios td {
    padding: 10px 10px;
}

.listaUsuarios{
    margin-top: 30px;
}

.ln_tabela {
    padding: px;
    background-color: #480a57;
}

.btn-editar{
    background-color: #480a57;
    color: #f9f9f9;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-editar:hover{
    background-color: #8410a1;
}

.btn-remover{
    background-color: #480a57;
    color: #f9f9f9;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-remover:hover{
    background-color: #8410a1;
}